@model BookStore.ModelViews.RegisterViewModel

@{
    ViewData["Title"] = "Đăng ký tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main-content">
    <div class="login-register-area section-space-y-axis-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 pt-10 pt-lg-0">
                    <form asp-action="DangkyTaiKhoan">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="login-form">
                            <h4 class="login-title">Sign up for an account</h4>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>First and last name</label>
                                    <input type="text" asp-for="FullName" placeholder="First and last name">
                                    <span asp-validation-for="FullName" class="text-danger"></span>
                                </div>
                                <div class="col-md-12">
                                    <label>Email address</label>
                                    <input type="email" asp-for="Email" placeholder="Email address">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="col-md-12">
                                    <label>Phone number</label>
                                    <input type="tel" asp-for="PhoneNumber" placeholder="Phone number">
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <label>Password</label>
                                    <input type="password" asp-for="Password" placeholder="Password">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <label>Enter the password</label>
                                    <input type="password" asp-for="ConfirmPassword" placeholder="Enter the password">
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-custom-size lg-size btn-secondary btn-primary-hover rounded-0">Register</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

