@model BookStore.ModelViews.ForgotPasswordViewModel


@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Forgot Password</h2>

@if (ViewBag.Message != null)
{
    <div class="alert alert-danger">@ViewBag.Message</div>
}
<form asp-action="ForgotPassword" asp-controller="Accounts" method="post">
    <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Enter email" required>
    </div>
    <button type="submit" class="btn btn-primary">Reset Password</button>
</form>
